<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>


body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-image : "https://img.freepik.com/free-vector/blue-curve-frame-template_53876-114605.jpg?w=2000"
}

a{

    color: #e4e8ec;
}

.sidebar {
height: 100%;
width: 216px;
position: absolute;
left: 0;
top: 0;
padding-top: 40px;
background-color: lightblue;
}

.sidebars{
height: 100%;
    width: 209px;
position: absolute;
left: 0;
top: 0;
padding-top: 40px;
background-color: lightblue;
    width: 216px;}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}



div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
    background-image : url("https://img.freepik.com/free-vector/blue-curve-frame-template_53876-114605.jpg?w=2000");
      background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

 }

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}


.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}


.dropbtns {
  background-color: #20590b;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtns:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdowns {
  position: relative;
  display: inline-block;
}

.dropdown-contents {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-contents a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdowns a:hover {background-color: #ddd;}

.show {display: block;}

       .sidebars {
     height: 100%;
width: 150px;
position: absolute;
left: 0;
top: 0;
padding-top: 40px;
background-color: lightblue;
    }


    .sidebars a {
      display: block;
      color: #000;
      padding: 8px 16px;
      text-decoration: none;
    }


    .sidebars a.active {
      background-color: #4CAF50;
      color: white;
    }


    .sidebars .dropdown-contenting {
      display: none;
      padding-left: 20px;
    }

    .sidebars .dropdown-contenting a {
      padding: 5px 0;
    }


    .sidebars .dropdown:hover .dropdown-contenting {
      display: block;
    }


    .content {
      margin-left: 220px; /* Adjust the value to match the sidebar width */
      padding: 20px;
    }


td{
    color: black;
}


</style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>


            function getval(sel){
                var selected_category = sel.value;
                alert(selected_category);
                window.location.replace("http://127.0.0.1:8080/category/"+selected_category);
            }


function myFunctionForDelete(){
 confirm("Do want to delete the post?");
  window.location.assign("http:/localhost:8080/admin/post/delete/{{this.id}}/edit")

}




</script>
</head>
<body>

<div class="sidebars" style="width:200px;">

    <a class="active" href="/admin">Home</a><br>
    <a href="/admin/categories">Categories</a><br>
    <br>
    <br>
    &nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-danger" class="btn btn-default btn-sm">
    <a href="/logout">
        Log out</a></button>
</div>

<div class="content">
    <div class=" text-center" style="
    font-family: cursive;
    font-size: 200px;
;">
        <h1>Blog</h1>
    </div>
    <p>
        <button type="button" class="btn btn-success" style="margin-left: 80%;
    color: #fff;
    background-color: #090b78;
    border-color: #01071a;
">    <a href="admin/posts/new">Create new post</a> </button>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
    </p>

    <select onchange="getval(this);" id="category" name="blog" id="blog">
        <option id="category_name_gen">All</option>

        <option value="1">A</option>
        <option value="2">B</option>
        <option value="3">C</option>
    </select>

    <br>
    <br>
    <br>


    <div class="row" >
        <div class="col-12" >
            <table class="table table-bordered" style=" border: 1px solid #121111;" >
                <thead>
                <tr style="border: 1px solid #0d0d0d;">
                    <th scope="col"  style="border: 1px solid #121111;">POST ID</th>
                    <th scope="col" style="border: 1px solid #121111;">TITLE</th>
                    <th scope="col" style="border: 1px solid #121111;">DESCRIPTION</th>
                    <th scope="col" style="border: 1px solid #121111;">ACTIONS</th>

                </tr>
                </thead>
                <tbody>

                {{#each  cat}}

                    <td style="border: 1px solid #121111;"> {{this.id}}</td>
                    <td style="border: 1px solid #121111;"> <a href="admin/posts/{{this.id}}"> {{this.title}}</td>
                    <td style="border: 1px solid #121111;"> <a href="admin/posts/{{this.id}}"> {{this.description}}</td>

                    <td style="border: 1px solid #121111;"> <button><a  onclick="return confirm('Do you want to delete this post?')" href="/admin/post/{{this.id}}/delete"> Delete</a></button>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     </a>
                        <button>   <a href="/admin/posts/{{this.id}}/edit"> update </a></button>

                    </td>

                    </a>
                    </tr>
                {{/each}}

                </tbody>
            </table>

            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {{#each pages_count }}
                        <li class="page-item"><a class="page-link" href="/admin/posts/page/{{this}}">{{this}}</a></li>
                    {{/each}}
                </ul>
            </nav>

        </div>
    </div>
</div>

</body>
</html>

