<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>


body {
  margin: 0;
  font-family: "Lato", sans-serif;
    background-image : "https://images.unsplash.com/photo-1501504905252-473c47e087f8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80;"
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  background-image : url("https://img.freepik.com/free-vector/abstract-memphis-mobile-phone-wallpaper_53876-154032.jpg");
      background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sidebars{
background-image : url("https://img.freepik.com/free-vector/abstract-memphis-mobile-phone-wallpaper_53876-154032.jpg");
      background-position: center;
  background-repeat: no-repeat;
  background-size: cover;}


.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
    background-image : url("https://img.freepik.com/free-photo/blue-smoke-background-textured-wallpaper-high-resolution_53876-128239.jpg?w=2000");
      background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

</style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
    <script type="text/javascript">
function get_value() {
  var x = document.getElementById("cat").value;
  alert(x);
}

function myFunctionForDelete(){
 confirm("Do want to delete the post!");
  window.location.assign("http:/localhost:8080/admin/post/delete/{{this.id}}/edit")

}


</script>
</head>
<body>

<div class="sidebar">
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
    <a class="active" href="/admin?page=1">Home</a>
    <a href="/admin?page=1">Posts</a>
    <a href="/admin/categories">Categories</a>
    <button type="button" class="btn btn-danger" class="btn btn-default btn-sm">
    <a href="/logout">
      Log out</a></button>
</div>

<div class="content">

    <div class="jumbotron  text-center" style="    background-color: #f0ebce;
    font-family: cursive;
    font-size: 200px;
;">

    <h1>Categories</h1>
    </div>


    <button  type="button" class="btn btn-success" style="margin-left: 80%;">
        <a href =" /admin/categories/new"> Create New Category</a>
    </button>

    <div class="row">
        <div class="col-4">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Categories</th>
                    <th scope="col" >Actions</th>
                </tr>
                </thead>
                <tbody>
{{#each all}}
    <td> <a href="categories/{{this.id}}?page=1">{{this.name}}</td>
    <td> <button><a  onclick="return confirm('Do you want to delete?')" href="/admin/delete_category/{{this.id}}/delete"> Delete</a></button>&nbsp;
   <button> <a href="http://localhost:8080/admin/category/{{this.id}}/edit">Update </a> &nbsp;</button>  </td>
    </tr>
{{/each}}
                </tbody>
            </table>

</div>



<nav aria-label="Page navigation example">
    <ul class="pagination">
        {{#each pages_count }}
            <li class="page-item"><a class="page-link" href="?page={{this}}">{{this}}</a></li>
        {{/each}}
    </ul>
</nav>

    </div>
</div>
</body>
</html>

