
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <style>
        div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

    </style>
</head>
<body>
<div class="content">
    <a href="/categories/new">
        <button class="success-button">Create New Post</button>
    </a>
</div>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Category</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {{#each p}}
        <tr>
            <td>{{this.category_id}}</td>
            <td ><a href="/categories/{{this.category_id}}">{{this.name}}</a></td>
            <td>{{this.name}}</td>
            <td>
                <button onclick="to_update_post('{{this.category_id}}')">Update</button>
                <button onclick="confirmDelete('{{this.category_id}}')">Delete</button>
            </td>
        </tr>
    {{/each}}
    </tbody>

</table>

</body>
<script>
function confirmDelete(postId) {
  if (confirm("Are you sure you want to delete this post?")) {
    // Redirect to the delete URL
    location.href = 'delete_post/' + postId;
  }
}
</script>
</html>