
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>


body {
  margin: 0;
  font-family: "Lato", sans-serif;
    background-image : url("https://png.pngtree.com/thumb_back/fh260/background/20220428/pngtree-aesthetic-vintage-wallpaper-background-image_1084300.jpg");
 background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


h1{
background-image : url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm452-f-014-x.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=06255fd9153aea5fb51595a1dee7fae6");
 background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 40%;
    font-size: 100px;
    font-family: fantasy;
}

=


.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
</style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>



<h1 style=" padding-left: 40%;
    font-size: 100px;
    font-family: fantasy;">My Blog</h1>

    <div class="container-fluid">
        <br><br>

        <button  style="margin-left: 90%; color: black;">
            <h2 ><a href="/login">Login</a></h2>
        </button>&nbsp;
        <br>
        <br>
        <button style="margin-left: 90%; color: black; ">
            <h2> <a href="/login">Register</a></h2>
        </button>
    </div>



<p class="listing category">
    {{#each o}}
        <a href="/categories/{{this.id}}?page=1"><strong>{{this.name}}</strong></a> </p>
    {{/each}}
    </p>

    <div class="row">
        <div class="col-12">
            <table class="table table">
                <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col" >Description</th>
                </tr>
                </thead>
                <tbody>
                {{#each  cat}}

                    <td> <a href="/posts/{{this.id}}"> {{this.title}}</td>
                    <td> <a href="/posts/{{this.id}}"> {{this.description}}</td>

                    </a>
                    </tr>
                {{/each}}

                </tbody>
            </table>

            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {{#each pages_count }}
                        <li class="page-item"><a class="page-link" href="?page={{this}}">{{this}}</a></li>
                    {{/each}}
                </ul>
            </nav>

        </div>
    </div>
</div>

</p>
<p>
    {{#each p}}
    <a href="/posts/{{this.title}}">
        {{#each this}}
            {{ this}}    &nbsp;
        {{/each}}<br>
    {{/each}}</a>
</p>



</p>
</body>
</html>

