
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;}
    }
  </style>
</head>
<body>
<a href="/login">Login</a>     <a href="/register">Register</a>

</br>
<label for="category">Choose a category:</label>

<select name="cars" id="cars">
    {{#each o}}
    <option value="{{this}}"> <a href="/categories/{{this}}">{{this}}</a> </option>
        {{/each}}
</select>

<ul class="listing category">
    {{#each o}}
        <a href="/categories/{{this}}"><li>{{this}}</li></a>
    {{/each}}
</ul>


<ul class="people_list">
    {{#each p}}
        <li><a href="{{this}}"> {{this}}</li></a>
    {{/each}}
</ul>


{{q.[1].title}}
<p>

    {{#each q}}
    <a href="/posts/{{this.id}}">
        {{#each this}}  " "
             {{ this }}
      {{/each}}<br>
    {{/each}}</a>
</p>
</ul>

<div class="row">
    <div class="col-12">
        <table class="table table">
            <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col" >Description</th>
            </tr>
            </thead>
            <tbody>

            {{#each  q}}

                <td> <a href="/posts/{{this.id}}"> {{this.title}}</td>

                <td> <a href="/posts/{{this.id}}"> {{this.description}}</td>

                </a>
                </tr>
            {{/each}}

            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {{#each pages_count }}
                    <li class="page-item"><a class="page-link" href="?page={{this}}">{{this}}</a></li>
                {{/each}}
            </ul>
        </nav>

    </div>
</div>


</body>
</html>