<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        
        th {
            background-color: #f2f2f2;
        }
        .sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.success-button {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float : right;
  margin-bottom: 14px;
}
    </style>
</head>

<body>
<h1><center>Posts</center></h1>
<div class="sidebar">
    <a class="active" href="#posts">Posts</a>
    <a href="/category">Categories</a>
    <a href="/login">Logout</a>

</div>

<!-- Page content -->
<div class="content">
    <a href="/posts/new">
        <button class="success-button">Create New Post</button>
    </a>
    <select id="categoryFilter" onchange="filterPosts()">
        <option value="">All Categories</option>
        <option value="category1">Category 1</option>
        <option value="category2">Category 2</option>
        <option value="category3">Category 3</option>
        <!-- Add more category options as needed -->
    </select>

    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Category</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {{#each c}}
            <tr data-category="{{this.category}}">
                <td>{{this.title}}</td>
                <td><a href="/posts/{{this.post_id}}">{{this.description}}</a></td>
                <td>{{this.name}}</td>
                <td>
                    <button onclick="location.href='to_update_post/{{this.post_id}}'">Update</button>
                    <button onclick="confirmDelete('{{this.post_id}}')">Delete</button>

                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>






<div class="pagination">
    {{#each page_count }}
        <a href="?page={{this}}" >{{this}}</a>
    {{/each}}
</div>






</div>
</body>
<script>
    function redirectToPage() {
  window.location.href = "new_post.hbs";
}
</script>
<script>
function confirmDelete(postId) {
  if (confirm("Are you sure you want to delete this post?")) {
    // Redirect to the delete URL
    location.href = 'delete_post/' + postId;
  }
}
</script>
<script>
function filterPosts() {
  var selectedCategory = document.getElementById("categoryFilter").value;
  var rows = document.querySelectorAll("tbody tr");

  rows.forEach(function(row) {
    var category = row.getAttribute("data-category");

    if (selectedCategory === "Category 1" || category === selectedCategory) {
      row.style.display = "table-row";
    } else {
      row.style.display = "none";
    }
  });
}
</script>
</html>
